<section data-ng-controller="OrdersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Orders for {{customer.personalDetails.forename}} {{customer.personalDetails.surname}}</h1>
    </div>

    <h1>No of orders: {{orders.length}}</h1>

    <div class="">

        Customer: {{customerId}}
        <!-- ***** NEED TO WIRE IN CONTROLLER TO VIEW INDIVIDUAL ORDERS - SEE data-ng-href attrib below-->
        <!--
        <a data-ng-repeat="order in orders" data-ng-href="#!/customers/{{customer._id}}/orders/{{order._id}}" class="">
        -->
        <div data-ng-repeat="order in orders"  class="">
            <a data-ng-href="#!/customers/{{customerId}}/order/{{order._id}}" class="">
                <span style="color:red;">Order: {{order._id}}</span>
            </a>
            <!--
            Order: {{order}}
            -->
            <a data-ng-href="#!/customers/{{customerId}}/order/{{order._id}}/edit" class="btn btn-small btn-success">Edit</a>
            <a ng-click="remove(order._id)" class="btn btn-small btn-danger">Remove</a>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="">Order {{$index}} (total : £{{order.total}})</h4>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="orderItem in order.orderItems" class="">
                        <div class="">
                            <span class="col-md-3">{{orderItem.item.name}}</span>
                            <span class="col-md-3">x {{orderItem.quantity}}</span>
                            <span class="col-md-3">{{orderItem.item.price}}</span>
                            <span class="col-md-3">{{orderItem.item.price * orderItem.quantity}}</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</section>
