<section data-ng-controller="OrdersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Order</h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == customer.user._id">
        <a class="btn btn-primary" href="/#!/customers/:customerId/order/{{order._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <h4 class="list-group-item-heading">Total : £ {{order.total}}</h4>
    <div class="list-group" ng-repeat="orderItem in order.orderItems">

        <span class="col-md-3x">{{orderItem.quantity}}</span>
        <span class="col-md-3x">x {{orderItem.item.name}}</span>
        <span class="col-md-3x">{{orderItem.item.price}}</span>
        <span class="col-md-3x">total = {{orderItem.item.price * orderItem.quantity}}</span>

        <!--
        <div class="list-group-item">{{orderItem.quantity}}</div>
        <div class="list-group-item">{{orderItem.item.name}}</div>
        <div class="list-group-item">{{orderItem.item.price}}</div>
    -->
    </div>
<!--
    <small>
        <em class="text-muted">
            Posted on
            <span data-ng-bind="customer.created | date:'mediumDate'"></span>
            by
            <span data-ng-bind="customer.user.displayName"></span>
        </em>

        <h4 class="list-group-item-heading" data-ng-bind="customer.personalDetails.forename"></h4>
        <div class="list-group">
            <div class="list-group-item">{{customer.personalDetails.forename}} {{customer.personalDetails.surname}}</div>
            <div class="list-group-item">{{customer.personalDetails.dob}}</div>
            <div class="list-group-item">office : {{customer.phoneDetails.office}}</div>
            <div class="list-group-item">home : {{customer.phoneDetails.home}}</div>
            <div class="list-group-item">mobile : {{customer.phoneDetails.mobile}}</div>
            <div class="list-group-item">1st Line : {{customer.addressDetails.firstLine}}</div>
            <div class="list-group-item">city : {{customer.addressDetails.city}}</div>
            <div class="list-group-item">postal code : {{customer.addressDetails.postCode}}</div>
        </div>

    </small>
    -->
</section>
